option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /
    memory_limit: 256M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 60
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
